<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ye.chilyn.youaccounts">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AccountsApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppFullscreenTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".keepaccounts.modifyaccount.ModifyAccountActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateVisible" />
        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/AppFullscreenTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".keepaccounts.queryaccounts.QueryAccountsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".register.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".me.modifypassword.ModifyPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".me.modifynickname.ModifyNicknameActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>